<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>

      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />

      <!-- User-defined type aliases -->
      <typeAlias alias="ILogger"
           type="Naspect.Logger.ILogger, Naspect.Logger" />
      <typeAlias alias="ConsoleLogger"
           type="Naspect.Logger.ConsoleLogger, Naspect.Logger" />
      <typeAlias alias="BasicFileLogger"
           type="Naspect.Logger.BasicFileLogger, Naspect.Logger" />
      <!--<typeAlias alias="CompositeLogger"
             type="Naspect.Logger.Unity.CompositeLogger, Naspect.Logger.Unity" />-->

      <typeAlias alias="IExceptionHandler"
          type="Naspect.Core.Exception.IExceptionHandler, Naspect.Core" />
      <typeAlias alias="BasicExceptionHandler"
               type="Naspect.Core.Exception.BasicExceptionHandler, Naspect.Core" />

      <typeAlias alias="ICacheProvider"
             type="Naspect.Core.Cache.ICacheProvider, Naspect.Core" />
      <typeAlias alias="BasicCacheProvider"
               type="Naspect.Core.Cache.BasicCacheProvider, Naspect.Core" />
    </typeAliases>
    <container>
      <types>
        <type type="ILogger" mapTo="ConsoleLogger" name="ConsoleLoggerNm"/>
        <type type="ILogger" mapTo="BasicFileLogger" name="BasicFileLoggerNm">
          <property name="LogPath" propertyType="string" value="C:\Sil"/>
          <property name="DateTimePrefix" propertyType="string" value="yyyyMMdd"/>
          <lifetime type="singleton" />
        </type>
      </types>
      <!--<register type="ILogger" mapTo="CompositeLogger"   >
        <property name="FirstLogger"   >
          <dependency name="ConsoleLoggerNm"/>
        </property>
        <property name="SecondLogger"   >
          <dependency name="BasicFileLoggerNm"/>
        </property>
      </register>-->

      <!-- Direk ILogger tipine BasicFileLogger inject edersek kullan -->
      <register type="ILogger" mapTo="BasicFileLogger">
        <property name="LogPath" propertyType="string" value="C:\Sil"/> 
        <property name="DateTimePrefix" propertyType="string" value="yyyyMMdd"/>
        <lifetime type="singleton" />
      </register>

      <register type="IExceptionHandler" mapTo="BasicExceptionHandler" />
      <register type="ICacheProvider" mapTo="BasicCacheProvider" />
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>